<style>

.user {
  font-family: arial black;
}

.messages {
  font-style: #333333;
}

.date {
  font-style:italic;
}





</style>
<div class= "container-fluid">
  <div class= "row">
<div [ngClass]= "'col-md-4'">
    <div  [ngClass]= "'panel panel-default'">
        <div [ngClass]= "'panel-heading'">votre message</div>

          <div [ngClass] = "'panel-body'">
            <form >
          <div [ngClass]="'form-group'">
    <input [(ngModel)]="mess" enctype = "application/x-www-form-urlencoded" type="text" [ngModelOptions]="{standalone: true}" [ngClass]="form-control"  />
    </div>
    <button [ngClass]="'btn btn-default'" type="button" (click)= "sendMessages()" >envoyer</button>
    <a routerLink='/register'><button [ngClass]= "'btn btn-default'">S'inscrire</button></a>
            </form>
  </div>
</div>




</div>
<div class="alert alert-success" role="alert">
  <div *ngFor = "let users of tabUsers">{{users.userName}}</div>
</div>
<div [ngClass] ="'row'">
  <div [ngClass]="'col-md-12'">
    <div  [ngClass]= "'panel panel-default'">
<div *ngFor ="let messages of b"><h2 [ngClass] = "'user'">{{messages.userName}}:</h2><h3 [ngClass] = "'messages'"> {{messages.message}}</h3><p [ngClass] = "'date'"> {{messages.date}}</p></div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
