
    <div class= "container-fluid">
  <div class= "row">
<div [ngClass]= "'col-md-4'">
    <div  [ngClass]= "'panel panel-default'">
        <div [ngClass]= "'panel-heading'">votre message</div>

          <div [ngClass] = "'panel-body'">
            <form >
          <div [ngClass]="'form-group'">
    <input [(ngModel)]="mess" enctype = "application/x-www-form-urlencoded" type="text" [ngModelOptions]="{standalone: true}" [ngClass]="form-control"  />
    </div>
    <button [ngClass]="'btn btn-default'" type="button" (click)= "sendMessages()" >envoyer</button>
  </form>
  </div>
  </div>



<! TODO séparer les messages et soigner la présentation !>
</div>
<div class="alert alert-success" role="alert">
  <div *ngFor = "let users of tabUsers">{{users.userName}}</div>
</div>
<div [ngClass] ="'row'">
  <div [ngClass]="'col-md-12'">
    <div  [ngClass]= "'panel panel-default'">
<div *ngFor ="let messages of b">{{messages.userName}}: {{messages.message}}. {{messages.date}}</div>
    </div>
  </div>
</div>
